name: .NET CI/CD with Code Coverage
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Checkout repository
        uses: actions/checkout@v4


      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '5.0.x'

      - name: Verify .NET version
        run: dotnet --version

      - name: Restore dependencies
        run: dotnet restore TrabajoTarjeta.sln

      - name: Build
        run: dotnet build TrabajoTarjeta.sln --no-restore -c Release

      - name: Restore dependencies
        run: dotnet restore
        working-directory: TrabajoTarjeta2025

      - name: Build project
        run: dotnet build --no-restore -c Release
        working-directory: TrabajoTarjeta2025
      
      - name: Run tests and collect coverage
        run: dotnet test "TrabajoTarjeta.Tests/TrabajoTarjeta.Tests.csproj" --no-build -c Release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:CoverletOutput=./TestResults/coverage/ /p:Exclude="[*.Tests]*"
        working-directory: TrabajoTarjeta2025



      - name: List coverage files
        run: dir ./TestResults /s


      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
            files: ./TestResults/**/coverage.cobertura.xml
            fail_ci_if_error: true
            verbose: true
